body {
  margin: 8px;
  overflow: hidden;
  background-color: #202124;
  color: #fff;
}

#url {
  width: calc(100% - 8px);
  margin-bottom: 8px;
  color: #fff;
  background-color: #202124;
  border-color: white;
  border: solid;
  border-radius: 4px;
}

#browser {
  height: calc(100vh - 46px);
}
